@font-face {
    font-family: roboto-reg;
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: roboto-bold;
    src: url("fonts/Roboto-Bold.ttf");
}

body {
    margin: auto;
    overflow-x: hidden;
    font-size: 18px;
    background-color: #fffef2;
}

p {
    font-family: roboto-reg;
}

h1, h6 {
    font-family: roboto-bold;
}

.wrapper {
    min-height: 100%;
    overflow-x: hidden;
    
}

.first-banner{
    background-color: #A6672B;
    max-width: 100%;
    height: 52px;
}

.exit-btn {
    position: relative;
    right: 20px;
    top: 10px;
    float: right;
    border-radius: 50%;
    border-style: none;
}

.second-banner {
    background-color: #252525;
    max-width: 100%;
    height: 70px;
}

.continer-1 {
    max-width: 100%;
    height: 100%;
}

.review-section {
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 30px;

}

.review-container {
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
    
}

.review-text {
    color: #999999;
    font-size: 1rem;
}


.review-img {
    height: 45px;
    width: 50px;
    border-radius: 50%;
}

.horizontal-line {
    border: 1px solid #252525;
    width: 50%;
    margin: 0 auto;
}

.img-container {
    position: relative;
    top: 190px;
    width: 96%;
    max-width: 1310px;
    margin: 0 auto;
}

.img-1 {
    width: 100%;
}

.img-txt {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 20px;
    font-size: 1rem;
}

.text-container {
    position: relative;
    top: 230px;
}

.text-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

h6 {
    font-size: 1em;
}

.sample-txt {
    font-size: 1.15em;
}



.container-2 {
    position: relative;
    top: 260px;
    width: 96%;
    max-width: 1310px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.img-2 {
    width: 50%;
    margin-right: 5px;
}

.img-3 {
    width: 50%;
    margin-left: 5px;
} 

.text-box-2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-size: 16px;
    position: relative;
    top: 60px;
}

.container-3 {
    position: relative;
    top: 315px;
    width: 96%;
    max-width: 1310px;
    margin: 0 auto;
}

.img-4 {
    width: 100%;
}

.text-box-3 {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-size: 16px;
    position: relative;
    top: 100px;
}

.rectangle-btn {
    height: 59px;
    width: 198px;
    opacity: 30%;
    position: relative;
    top: 10px;
}

.arrow {
    height: 19px;
    float: right;
}

.test {
    margin-bottom: 100px;
}


footer {
    position: relative;
    margin-top: 650px;
    height: 100px;
    width: 100%;
    background-color: #fffef2;
    color:  #000;
    text-align: center;
}

.footer-container {
    display: flex;
    padding-bottom: 70px;
    font-size: 14px;
}

.footer-title {
    position: relative;
    text-align: center;
    vertical-align: middle;
    bottom: -480px;
    
    
}

.subscribe {
    text-align: left;
    color: #999999;
    margin-left: 20px;
}

.subscribe-title {
    font-size: 1rem;
}

.email {
    font-size: 1.55rem;
    margin-bottom: 0;
}

.email-underline {
    height: 1px;
    width: 427px;
    color: #999999;
    opacity: 15%;
}

.footer-textbox {
    width: 393px;
}

.footer-links {
    display: flex;
    width: 96%;
    max-width: 1310px;
    margin: 0 auto;
    justify-content: space-evenly;
    
}

ul {
    list-style: none;
}

li {
    font-family: roboto-reg;
    padding-bottom: 10px;
}

ul p {
    color: #999999;
}


.footer-banner {
    background-color: #252525;
    max-width: 100%;
    height: 80px;
}

.copyright {
    font-size: 14px;
    margin-top: 0;
    color: #fff;
    text-align: left;
    padding-top: 30px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 790px) {
.footer-container {
    display: flex;
    flex-direction: column;
}

.email-underline {
    margin-left: 0;
}

.footer-links {
    position: relative;
    right: 50px;
    top: 50px;
    
}

}