body {
    margin: auto;
    background-color: #fffef2;
    overflow-x: hidden;
    font-size: 18px;
}

.first-banner{
    background-color: #A6672B;
    max-width: 100%;
    height: 52px;
}

button {
    position: relative;
    right: 20px;
    top: 10px;
    float: right;
    border-radius: 50%;
    border-style: none;
}

.second-banner {
    background-color: #252525;
    max-width: 100%;
    height: 70px;
}

.continer-1 {
    max-width: 100%;
    height: 100%;
}

.review-section {
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 30px;

}

.review-container {
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
    
}

.review-text {
    color: #999999;
    font-size: 1rem;
}


.review-img {
    height: 45px;
    width: 50px;
    border-radius: 50%;
}

.horizontal-line {
    border: 1px solid #252525;
    width: 50%;
    margin: 0 auto;
}

.img-container {
    position: relative;
    top: 190px;
    width: 96%;
    max-width: 1310px;
    margin: 0 auto;
}

.img-1 {
    width: 100%;
}

.img-txt {
    text-align: center;
    vertical-align: middle;
    padding-bottom: 20px;
    font-size: 1rem;
}

section {
    position: relative;
    top: 230px;
}

.text-box {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

h6 {
    font-size: 1em;
}

.sample-txt {
    font-size: 1.15em;
}



.container-2 {
    position: relative;
    top: 260px;
    width: 96%;
    max-width: 1310px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.img-2 {
    width: 50%;
    margin-right: 5px;
}

.img-3 {
    width: 50%;
    margin-left: 5px;
} 

.text-box-2 {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    font-size: 16px;
    position: relative;
    top: 60px;
}

