body {
    margin: auto;
}

.first-section{
    background-color: #A6672B;
    max-width: 100%;
    height: 52px;
}

.second-section {
    background-color: #252525;
    max-width: 100%;
    height: 70px;
}

.main-section {
    background-color: #fffef2;
    max-width: 100%;
    height: 100%;
}